@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-sand: #cec1a8;
  --color-brown: #b59e7e;
  --color-mocha: #c5ad91;
  --color-darkbrown: #5d4b3d;
  --color-grey: #aaa396;
  --color-vanilla: #f1eada;

  --color-primary: var(--color-brown);
  --color-secondary: var(--color-darkbrown);
  --color-background: var(--color-vanilla);
  --color-text: var(--color-darkbrown);

  --font-cinzel: "Cinzel", serif;
  --font-merriweather: "Merriweather", serif;

  --shadow-custom: -15px 20px 0px 0px #5d4b3d;
  --shadow-small: -10px 10px 0px 0px #aaa396;
}
