@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
	--color-sand: #CEC1A8;
	--color-brown: #B59E7E;
	--color-mocha: #C5AD91;
	--color-darkbrown: #5D4B3D;
	--color-grey: #AAA396;
	--color-vanilla: #F1EADA;

	--color-primary: var(--color-brown);
  --color-secondary: var(--color-darkbrown);
  --color-background: var(--color-vanilla);
  --color-text: var(--color-darkbrown);

	--font-cinzel: "Cinzel", serif;
	--font-merriweather: "Merriweather", serif;

	--shadow-custom: -15px 20px 0px 0px #5D4B3D;
}